header{
	width:100%;
	height:50px;
 	background-color:#111d43;
	text-align:center;
	}
#navbar{
	width:100%;
	height:50px;
	text-align:auto;
	}
.stock{
	border: solid 4px;
}

.in{
	border-color: blue;
}

.out{
	border-color: grey;
}

.low{
	border-color: green;
}

.sale{
	border-color: red;
}