.card {
    display: grid;
    grid-gap: 5px;
    width: 250px;
    margin-bottom: 12px;
    margin-right: 9px;
    background-color: white;
    position:relative;

}
.info-section{
  height:5px;
  padding:0px 0px 0px 220px;>
}



.card-image {
    position: relative;
    overflow: hidden;
    border-radius: 15px;


}
.inner{
    height:150px;
}
.outer {
    height: 162px;
    padding: 0px 20px;
}
.card a {
    color:rgb(53, 53, 53);
    text-decoration:none;
}
.card:hover img {
    width:80%;
}



.card img {
    width:167px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: .3s;
    transition-timing-function: ease;
    border-radius: 15px;
    object-fit: contain;
    overflow:hidden;
    padding-top:10px;
}
.card-body {
    text-align:center;
    padding: 5px 10px;
    box-sizing: border-box;
}
.card-date {
    font-family: 'Source Sans Pro', sans-serif;
}
.card-title, .card-content {
    font-family: 'Playfair Display', serif;
}
.card-title1, .card-title2 {
    text-align:center;
    text-transform:uppercase;
    font-weight: bold;
    font-size: large;
}
.card-date, .card-content {
    color: #777;
}

.stock {
    border-radius: 30px;
    border: solid 1px;
}

.in {
    border-color: blue;
}

.out {
    border-color: grey;
}

.low {
    border-color: green;
}

.sale {
    border-color: red;
}

.info-tag-popup{
  visibility: hidden;
    width: 180px;
    height: 160px;
    margin-left: 180px;
    margin-bottom: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 8px 0px 0px 8px;
    border-radius: 6px;
    position: absolute;
    z-index: 5;
    left: 70px;
    top:-90px;
    overflow: visible;
  }

.popup-description{
  font-size:10px;
  text-align:left;

}

.popup-star-rating{
  position:absolute;
  bottom:10px;
  left:20%;
}

.checked{
  color:yellow;
}
.unchecked{
  color:black;
}
