* {
    margin: 0;
    padding: 0;
}


div.outer:hover {
    box-shadow: 0px 0px 20px 1px #888888;
}

div.outer {
    width: 500px;
    height: 500px;
    padding: 2px 2px;
    margin: 10px;
    border: 1px solid rgba(198, 198, 198, 1.0);
    border-bottom: 2px solid rgba(198, 198, 198, 1.0);
    background: white;
    border-radius: 5px;
    float: left;
}

div.inner {
    padding: 10px 20px 10px 20px;
    border: dashed 1px rgba(188, 188, 188, 1.0);
    height: 476px;
}
.inner img{
    width: 100%;
    height: 100%;

}
div.middle {
    border: solid 1px rgba(231, 231, 231, 1.0);
}
