header{
	width:100%;
	height:70px;
 	background-color:#111d43;
	overflow:hidden;
	color:white;
	position:relative;
	}
  #logo{
  			position:absolute;
  			left: 250px;
  			top:2px;
  			height:110px;
  	}
  #logo-text{
  		position:absolute;
  		left:395px;
  		top:13px;
  }
  
