body{
	background-color: #fffbf1;
	}

footer{
	width:fill;
	height: 100px;
	background-color: black;
	color: #5d280e
	}

.stock{
	border: solid 4px;
}

.in{
	border-color: blue;
}

.out{
	border-color: grey;
}

.low{
	border-color: green;
}

.sale{
	border-color: red;
}
