#navbar{
	max-width:1500px;
	min-width: 200px;
	height:100px;
	text-align:auto;
	display: grid;
	grid-template-columns: [search] 25% [category] 50% [buttons] 25% [end];
	gap: 20px;
  padding: 10px 0px 0px 10px;
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
	break-inside: avoid-column;

	}

.search{
		grid-column: 1/2;
		margin: auto;
		padding-left:14px;
		width:fill;
		border: solid #CCC8C0 3px;
		display:flex;




}
.search, .dropdown, #dropdownMenuLink{
	border-radius:30px;
	height:40px;


}
#search{
	border: 0;
	height: 27px;
	padding-left:5px;
	margin-top:2px;
	border-radius:30px;
	width: 100%;
	max-width: 400px;
	background-color: #FFFBF1;
	border-color: #CCC8C0;
  outline:none;



}

.fa-search{
	color:#CCC8C0;
	padding-top: 8px;


}



.dropdown{
  display: inline-block;
  position: relative;
	width:100%;
	margin: auto;
	border: 3px;



}
#dropdownMenuLink{
	grid-column: 2/3;
	width:100%;
	background-color:#FFFBF1;
	border: #CCC8C0 solid 3px;
	color:black;

}
.dropdown-menu{
	display: none;
	position: absolute;
	width: 100%;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left: 0px;
	margin-right: 0px;
}


.dropdown:hover .dropdown-menu {
display: block;
}
/*
.dropdown-toggle{
	grid-row: 2/3;

}
*/
.round-buttons{
	margin: auto;
	position:relative;
}

.round-button{
	grid-column: 3/4;
	padding: 0px 2px 0px 2px;
	font-size:25px;
	border-radius: 50%;
}

.cart-icon{
	position:relative;
}
.cart{
	visibility: hidden;
	width: 400px;
	height: 400px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 5;
	bottom: 10px;
	overflow: visible;
}
.fa-shopping-cart :hover + .cart{
	visibility: visible;
}
