.card {
    display: grid;
    grid-gap: 10px;
    width:400px;
    margin:0px auto;
    background-color:white;
    box-shadow:0px 5px 20px #999;
    border-radius: 30px;
    border-style: solid;
    border-color: red;
}
.info-section{
    height:20px;
    padding:0px 0px 0px 340px;
}
.info-tag{
    font-size: 18px;
}
.card-image {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    position:center;    
}
.inner{
    height:240px;
}
.outer {
    height: 260px;
    padding: 0px 20px;
}
.card a {
    color:rgb(53, 53, 53);
    text-decoration:none;
}

.card img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(1);
    transition-duration: .3s;
    transition-timing-function: ease;
    border-radius: 15px;
    object-fit: contain;
}
.card-body {
    text-align:center;
    padding: 15px 20px;
    box-sizing: border-box;
}
.card-date {
    font-family: 'Source Sans Pro', sans-serif;
}
.card-title, .card-content {
    font-family: 'Playfair Display', serif;
}
.card-title1, .card-title2 {
    text-align:center;
    text-transform:uppercase;
    font-weight: bold;
}
.card-date, .card-content {
    color: #777;
}



.info-tag-popup {
    visibility: hidden;
    width: 160px;
    height: 160px;
    margin-left: 210px;
    margin-bottom: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: fixed;
    z-index: 5;
    left: 50%;
    overflow: visible;
   
}

.info-tag:hover + .info-tag-popup {
    
    visibility: visible;
   
}


