.card{
	width:200px;
	background: blue;
	}
.headC{
	text-align:center;
	padding-left: 6px;
	padding-right: 6px;
}
.content {
	position: relative;
	text-align: center;
	color: white;
}
.contentTxt {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#supportTxt, #seeMore {
	margin: 0px;
	font-size: 8pt;
	padding-left: 6px;
	padding-right: 6px;
}
.seeMore{
	text-align:center;
}
img{
	width:200px;
}

	